{% extends "layout.html" %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% trans "Users" %}</h1>
    
    <div class="table table-striped"></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>{% trans "Username" %}</th>
                    <th>{% trans "Full name" %}</th>
                    <th>{% trans "Created at" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user }}</td>
                    <td>{{ user.date_joined|date:"d.m.Y" }} {{ user.date_joined|time:"H:i" }}</td>
                    <td>
                        <a href="{% url 'user_update' pk=user.id %}">{% trans "Update" %}</a>
                        <br>
                        <a href="{% url 'user_delete' pk=user.id %}">{% trans "Delete" %}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
{% endblock %}
